/*  your css code here. If applicable */
#container{
	margin: 20px;
	padding: 10px;
	border: 2px solid #000;
	font-size: 18px;
	background-color: #f9f9f9;
}

#container::before{
	content: "Before Element";
  color: #f00;
  font-size: 20px;
	font-weight: bold;
}
#container::after{
  content: "After Element";
  /* display: block; */
  color: #f00;
  font-size: 20px;
	font-weight: bold;
}